<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="Jakiś opis strony">

    <title>Strona główna</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<header>

    <h1 class="offScreen">INTER strona główna</h1>
    <div class="innerHeader">
        <nav class="navbar-def">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-xs-3 pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <h2 CLASS="offScreen">Nawigacja główna</h2>
            <div class="companyInfo col-xs-3 col-sm-2 col-md-2 col-lg-4">
                <aside class="socialMedia hidden-xs hidden-sm hidden-md">
                    <h3 class="offScreen">Social media</h3>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x "></i>
                </span>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x "></i>
                </span>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x "></i>
                </span>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x "></i>
                </span>

                </aside>
                <div class="logo">
                    <a href="index.html"><h3>INTER logo</h3></a>
                </div>

            </div>

            <div class="collapse navbar-collapse mainNav col-xs-12 col-sm-10 col-md-10 col-lg-8">
                <ul class="list-inline navBar">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">O NAS</a></li>
                    <li><a href="#">PRODUKTY</a></li>
                    <li><a href="#">KONTAKT</a></li>
                    <li class="">
                        <aside class=" userLogin">
                            <h3 class="offScreen">
                                logowanie
                            </h3>
                            <img src="images/awatar.png" alt="User" class="hidden-sm"/>
                            <p>Zalogowany jako <span>Jan Kowalski</span><br>
                                <a href="#">WYLOGUJ</a> | <a href="#">PROFIL</a></p>
                        </aside>
                    </li>
                </ul>
            </div>

        </nav>

    </div>
    <!--slider-->
    <img src="images/slider.jpg" class="sliderImg img-responsive">
    <section id="slider">
        <h2 class="offScreen">Super oferta</h2>
        <div class="sliderContent  col-xs-12 col-sm-6 col-md-5 col-md-offset-2">
            <div class="sliderTitle">PUFY W KOLORACH TĘCZY</div>
            <div class="sliderBody">Zmień swój salon w krainę barw z barwnymi pufami pachnącymi
                kolorami wiosny. Każdy puf to unikalny zapach dobrany przez specjalistów Diora
            </div>
            <div class="btnSlider">
                <a href="#">SPRAWDŹ</a>
            </div>
        </div>
    </section>
    <!--slider END-->
</header>
<main>
    <article class="container">
        <h2 class="offScreen">tresc glowna</h2>

        <div class="row designBox">
            <div class="col-xs-6 col-sm-7">
                <h2>Niepowtarzalny design</h2>
                <p>
                    Unikalne wzronictwo idealne dla Twojego mieszkania. Nasi specaliści
                    przeglądają zasoby całego świata, aby dać Ci unikalne doznania.
                </p>

            </div>
            <div class="col-xs-6 col-sm-5">
                <img src="images/table.jpg" class="img-responsive mainPhoto">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <div class="mainCounter">01<span>.</span></div>
            </div>
        </div>
        <div class="row artefactSec">
            <div class="col-xs-12 col-sm-5">
                <img src="images/table2.jpg" class="img-responsive mainPhoto">
            </div>
            <div class="col-xs-12 col-sm-7 artefacts">

                <div class="col-xs-6 artefactsInfo">
                    <div class="artInfo col-xs-12"><img src="images/artefact1.png" alt="" class="artImg">
                        <p>Atrakcyjność
                            <small>Każdy powie WOW</small>
                        </p>
                    </div>
                    <div class="artInfo col-xs-12"><img src="images/artefact2.png" alt="" class="artImg">
                        <p>Przeznaczenie
                            <small>Tego potrzebujesz</small>
                        </p>
                    </div>
                    <div class="artInfo col-xs-12"><img src="images/artefact3.png" alt="" class="artImg">
                        <p>Energia
                            <small>W każdym detalu</small>
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 artefactsInfo">
                    <div class="artInfo col-xs-12"><img src="images/artefact4.png" alt="" class="artImg">
                        <p>Docieramy wszędzie
                            <small>I sprowadzamy niespotykane meble</small>
                        </p>
                    </div>
                    <div class="artInfo col-xs-12"><img src="images/artefact5.png" alt="" class="artImg">
                        <p>Unikalne doznania
                            <small>To podróż w nieznane</small>
                        </p>
                    </div>
                    <div class="artInfo col-xs-12"><img src="images/artefact6.png" alt="" class="artImg">
                        <p>Projekty
                            <small>Rozpoznawalne na całym globie</small>
                        </p>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <div class="mainCounter pull-right">02<span>.</span></div>
            </div>
        </div>
        <div class="row qualityTitle">
            <h2>INTER – TO JAKOŚĆ PONAD WSZYSTKO</h2>
            <p>My tworzymy i wyszukujemy designerskie objekty wykonane z drewna i tworzyw
                często niedostępnych w Polsce. Łączymy rzeczy możliwe z nieprawdopodobnymi.</p>
        </div>
        <div class="row">
            <div class="quality col-xs-4"><img src="images/quality1.jpg" alt="jakosc 1" class="img-responsive">
                <p>Nagradzany design</p>
            </div>
            <div class="quality col-xs-4"><img src="images/quality2.jpg" alt="jakosc 2" class="img-responsive">
                <p>Nieprawdopodobne doznania</p>
            </div>
            <div class="quality col-xs-4"><img src="images/quality3.jpg" alt="jakosc 3" class="img-responsive">
                <p>Wysoka jakość</p>
            </div>
        </div>

    </article>

</main>
<footer>
    <h2 class="offScreen">Dodatkowe informacje</h2>
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <h2 class=""> My PROJEKTUJEMY<br>
                    UNIKALNIE DOZNANIA</h2>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h2 class="">NASZE<br>
                    STUDIO</h2>
            </div>
            <div class="col-xs-6 col-sm-4">
                <h2 class="">ZOSTAŃMY<br>
                    W KONTAKCIE</h2>
            </div>
        </div>
        <div class="row">
            <div class="hidden-xs col-sm-4">
                <p>
                    Nasz team dostarcza unikalne rozwiązania w limitowanych ilościach. Oferowane
                    przez nas meble potrafią do nas docierać z każdego zakątka świata. Wielokrotnie
                    nagradzane projekty to gwarancja smaku w świecie designerskich mebli.
                </p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <dl class="dl-horizontal">
                    <dt><i class="fa fa-map-marker fa-inverse" aria-hidden="true"></i></dt>
                    <dd>Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
                        <br>11480 - Indonesia
                    </dd>
                    <dt><i class="fa fa-phone fa-inverse"></i>
                    </dt>
                    <dd>(+62) 21-2222 3333</dd>
                </dl>
            </div>
            <div class="col-xs-6 col-sm-4">
                <form id="footerNews">
                    <input type="text" placeholder="Subscribe our newsletter" id="mail">
                    <button><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <nav class="row fotterNav">
            <h3 class="offScreen">Nawigacja dolna</h3>
            <ul class="list-inline">
                <li>HELP</li>
                <li>TERMS&CONDITION</li>
                <li>PRIVACY</li>
            </ul>
        </nav>
        <div class="row copyright">
            <div class="col-xs-12 col-sm-4 col-sm-push-4 text-center sm">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-dark"></i>
                </span>
                <span class="fa-stack ">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-dark"></i>
                </span>
                <span class="fa-stack ">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-dark"></i>
                </span>
                <span class="fa-stack ">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-dark"></i>
                </span>
            </div>
            <div class="col-xs-6 col-sm-4 col-sm-pull-4 text-left"><i class="fa fa-copyright"></i> COPYRIGHT - AZ 2017. ALL RIGHTS RESERVED.
            </div>

            <div class="col-xs-6 col-sm-4 text-right designer"><span>Design by</span> Arkadiusz Zielazny</div>
        </div>
    </div>

</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

