<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="Jakiś opis strony">

    <title>Strona główna</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<header>

    <h1 class="offScreen">INTER strona główna</h1>
    <div class="innerHeader">
        <nav class="navbar-def">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-xs-3 pull-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

            <h2 CLASS="offScreen">Nawigacja główna</h2>
            <div class="companyInfo col-xs-3 col-sm-2 col-md-2 col-lg-4">
                <aside class="socialMedia hidden-xs hidden-sm hidden-md">
                    <h3 class="offScreen">Social media</h3>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x "></i>
                </span>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x "></i>
                </span>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x "></i>
                </span>
                    <span class="fa-stack fa-lg">
                    <i class="fa-myCircle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x "></i>
                </span>

                </aside>
                <div class="logo">
                    <a href="index.html"> <h3>INTER logo</h3></a>
                </div>

            </div>

            <div class="collapse navbar-collapse mainNav col-xs-12 col-sm-10 col-md-10 col-lg-8">
            <ul class="list-inline navBar">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#">O NAS</a></li>
                <li><a href="#">PRODUKTY</a></li>
                <li><a href="#">KONTAKT</a></li>
                <li class="">
                    <aside class=" userLogin">
                        <h3 class="offScreen">
                            logowanie
                        </h3>
                        <img src="images/awatar.png" alt="User" class="hidden-sm"/>
                        <p>Zalogowany jako <span>Jan Kowalski</span><br>
                            <a href="#">WYLOGUJ</a> | <a href="#">PROFIL</a></p>
                    </aside>
                </li>
            </ul>
            </div>

        </nav>

    </div>
    <!--slider-->
    <img src="images/slider.jpg" class="sliderImg img-responsive">
    <section id="slider">
        <h2 class="offScreen">Super oferta</h2>
        <div class="sliderContent  col-xs-12 col-sm-6 col-md-5 col-md-offset-2">
            <div class="sliderTitle">PUFY W KOLORACH TĘCZY</div>
            <div class="sliderBody">Zmień swój salon w krainę barw z barwnymi pufami pachnącymi
                kolorami wiosny. Każdy puf to unikalny zapach dobrany przez specjalistów Diora</div>
            <div class="btnSlider">
                <a href="#">SPRAWDŹ</a>
            </div>
        </div>
    </section>
    <!--slider END-->
</header>
<main>
    <article>
        <h2 class="offScreen">tresc glowna</h2>
        <p>treść główna</p>
    </article>

</main>
<footer>
    <h2 class="offScreen">Dodatkowe informacje</h2>
    <div>
        <div>
            <h3 class="offScreen"> Info o firmie</h3>
            info
        </div>
        <div>
            <h3 class="offScreen">Adres firmy</h3>
            adres
        </div>
        <div>
            <h3 class="offScreen">Newsletter</h3>
            Newsletter
        </div>
    </div>
    <nav>
        <h3 class="offScreen">Nawigacja dolna</h3>
        <ul>
            <li>HELP</li>
            <li>TERMS&CONDITION</li>
            <li>PRIVACY</li>
        </ul>
    </nav>
    <div>
        <div>COPYRIGHT - AZ 2017. ALL RIGHTS RESERVED.</div>
        <div>
            socialmedia
        </div>
        <div>Design by <span>Arkadiusz Zielazny</span></div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>

